 /* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */


body{
  /* background-color:whitesmoke ;
  align-content: center;
  display: flex; */

  font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.navbar {
 
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;

}

.abc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the screen */
  
}

/* Login box styling */
.login-box {
  background:#f4f4f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  text-align: center;
  width: 320px;
  border: 1px solid #ccc; /* Optional border */
  
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the screen */
  
}

/* Login box styling */
.signup-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  text-align: center;
  width: 320px;
  border: 1px solid #ccc; /* Optional border */
}

.card-content {
  
  padding: 16px;
  text-align: center;
}

.card {
  width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}
.container {
  display: grid;
  place-items: center;  /* Centers both horizontally & vertically */
 
  background-color: #f4f4f4;
}
.rating {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: orange;
}